.SearchBar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);

  &__SearchBox {
    text-align: center;
    font-size: 20px;
    width: 33vw;
    height: 30px;
    margin: 20px;
    background-color: white;
    border: 2px solid #444444;
    border-radius: 5px;
  }

  &__Button {
    color: white;
    font-size: 20px;
    width: 11vw;
    height: 36px;
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
  }
}