.Card {
  width: 30vw;
  height: 30vh;
  border: 2px solid black;
  text-align: center;
  margin: auto;
  background-color: white;
  display: flex;
  margin: 10px 0px;

  &__BookCover {
    width: 40%;
    height: 100%;
  }

  &__Content {
    margin: 10px;
    width: 60%;
    height: 50%;

    &_info {
      
    }

    &_desc {
      overflow: scroll;
      height: 70%;
    }
  }
}